<div class="container container-table" style="margin: 50px">
    <div class="row vertical-center-row">
        <div class="text-center col-md-7 col-md-offset-9 mx-auto">

            <form id="editForm">
                <div class="form-group row">
                    <label for="issue_description" class="col-sm-2 col-form-label">Issue Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="issue_description" name="issue_description"
                         [(ngModel)]="issue.issue_description">
                    </div>
                </div>
                <p></p>

                <div class="form-group row">
                    <label for="type" class="col-sm-2 col-form-label">Issue Type</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="type" name="type"
                        [(ngModel)]="issue.type">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="current_status" class="col-sm-2 col-form-label">Current state</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="current_status" name="current_status"
                        [(ngModel)]="issue.current_state">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="created_user" class="col-sm-2 col-form-label">Created User</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="created_user" name="created_user"
                        [(ngModel)]="issue.created_user">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="project_id" class="col-sm-2 col-form-label">Project ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="project_id" name="project_id"
                        [(ngModel)]="issue.project_id">
                    </div>
                </div>

                <div class="form-group row">
                    <div>
                    <button style='margin:16px' type="submit" class="btn btn-success" (click)="saveIssue()">Save
                        Issue</button>
                    <button style='margin:16px' type="reset" class="btn btn-warning">Clear</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
