<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Empower PM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/projects'" routerLinkActive="active" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/issues'" routerLinkActive="active" href="#">Issues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/users'" routerLinkActive="active" href="#">Users</a>
      </li>
      <div style="padding-left: 900px;">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" routerLinkActive="active" href="#">Login</a>
        </li>
      </div>
    </ul>
    
  </div>
  
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>