<div style="margin: 1%; padding: 2%;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Project ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created User</th>
          <th scope="col">Created Date</th>
          <th scope="col">Issues</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{project.projectId}}</td>
          <td>{{project.projectName}}</td>
          <td>{{project.description}}</td>
          <td>{{project.createdUser}}</td>
          <td>{{project.createdTime}}</td>
          <td><button [routerLink]="'/view/issues/' + project.projectId" class="btn btn-primary">View </button></td>
        </tr>
      </tbody>
    </table>
  </div>