<div class="container container-table" style="margin: 50px">
    <div class="row vertical-center-row">
        <div class="text-center col-md-7 col-md-offset-9 mx-auto">

            <form >
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label"> Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" name="username"
                         [(ngModel)]="user.username" required>
                    </div>
                </div>
                <p></p>

                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="password" name="password"
                        [(ngModel)]="user.password">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="rePassword" class="col-sm-2 col-form-label">Re-type password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="rePassword" name="rePassword"
                        [(ngModel)]="user.repassword">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email"
                        [(ngModel)]="user.email">
                    </div>
                </div>

                <div class="form-group row">
                    <div>
                    <button style='margin:16px' type="submit" class="btn btn-success" (click)="saveUser()">Save
                        User</button>
                    <button style='margin:16px' type="reset" class="btn btn-warning">Clear</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
