<div class="container container-table" style="margin: 50px">
    <div class="row vertical-center-row">
        <div class="text-center col-md-7 col-md-offset-9 mx-auto">

            <form id="editForm">
                <div class="form-group row">
                    <label for="projectName" class="col-sm-2 col-form-label">Project name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="projectName" name="projectName"
                         [(ngModel)]="project.projectName">
                    </div>
                </div>
                <p></p>

                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" name="description"
                        [(ngModel)]="project.description">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="createdUser" class="col-sm-2 col-form-label">Created User</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="createdUser" name="createdUser"
                        [(ngModel)]="project.createdUser">
                    </div>
                </div>

                <div class="form-group row">
                    <div>
                    <button style='margin:16px' type="submit" class="btn btn-success" (click)="saveProject()">Save
                        project</button>
                    <button style='margin:16px' type="reset" class="btn btn-warning">Clear</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
