<div style="margin: 1%; padding: 2%;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Issue ID</th>
          <th scope="col">Project ID</th>
          <th scope="col">Issue Description</th>
          <th scope="col">Created User</th>
          <th scope="col">Created Date</th>
          <th scope="col">Issue Type</th>
          <th scope="col">Current State</th>
          <th scope="col">Update Issue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issue of issues">
          <td>{{issue.issue_id}}</td>
          <td>{{issue.project_id}}</td>
          <td>{{issue.issue_description}}</td>
          <td>{{issue.created_user}}</td>
          <td>{{issue.created_date}}</td>
          <td>{{issue.type}}</td>
          <td>{{issue.current_state}}</td>
          <td><button [routerLink]="'/update/issue/' + issue.issue_id" class="btn btn-primary">Update</button></td>
        </tr>
      </tbody>
    </table>
  </div>