<div class="container container-table" style="margin: 50px">
  <div class="row vertical-center-row">
      <div class="text-center col-md-5 col-md-offset-9 mx-auto">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Projects</h2>
            <p class="card-text">All project details</p>
            <a class="nav-link" [routerLink]="'/projects'" routerLinkActive="active" 
                class="btn btn-primary">View projects</a>
            <a class="nav-link" style="margin: 5px;" [routerLink]="'/projects/add'" routerLinkActive="active" 
                class="btn btn-primary">Add project</a>
          </div>
        </div>
        <p></p>
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Issues</h2>
            <p class="card-text">All issue details</p>
            <a class="nav-link" [routerLink]="'/issues'" routerLinkActive="active" 
                class="btn btn-primary">View issues</a>
            <a class="nav-link" style="margin: 5px;" [routerLink]="'/issues/add'" routerLinkActive="active"  
                class="btn btn-primary">Create issue</a>
          </div>
        </div>
        <p></p>
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Users</h2>
            <p class="card-text">All user details</p>
            <a class="nav-link" [routerLink]="'/users'" routerLinkActive="active" 
                class="btn btn-primary">View users</a>
            <a class="nav-link" style="margin: 5px;" [routerLink]="'/users/add'" routerLinkActive="active" 
                class="btn btn-primary">Add user</a>
          </div>
        </div>
    </div>
  </div>
</div>
