<div class="container container-table" style="margin: 50px">
    <div class="row vertical-center-row">
        <div class="text-center col-md-7 col-md-offset-9 mx-auto">

            <form id="editForm">
                <div class="form-group row">
                    <label for="issue_description" class="col-sm-2 col-form-label">Issue Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="issue_description" name="issue_description"
                         [(ngModel)]="issue.issue_description">
                    </div>
                </div>
                <p></p>

                <div class="form-group row">
                    <label for="issue_type" class="col-sm-2 col-form-label">Issue Type</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="issue_type" name="issue_type"
                         [(ngModel)]="issue.type" readonly="readonly">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="issue_state" class="col-sm-2 col-form-label">Issue state</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="status" [(ngModel)]="issue.current_state">
                            <option disabled value="null">Change issue state</option>
                            <option value="open" [selected]="issue.current_state =='open'">Open</option>
                            <option value="in_progress" [selected]="issue.current_state =='in_progress'">In progress</option>
                            <option value="testing" [selected]="issue.current_state =='testing'">Testing</option>
                            <option value="deploy" [selected]="issue.current_state =='deploy'">Deploy</option>
                         </select>
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="created_user" class="col-sm-2 col-form-label">Created User</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="created_user" name="created_user"
                         [(ngModel)]="issue.created_user" readonly="readonly">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="assign_user" class="col-sm-2 col-form-label">Assign user</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="created_user">
                            <option disabled value="null">Select user</option>
                            <option *ngFor="let username of usernameList" [value]="username">
                                {{ username }}
                            </option>
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label for="created_date" class="col-sm-2 col-form-label">Created date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="created_date" name="created_date"
                        [(ngModel)]="issue.created_date" readonly="readonly">
                    </div>
                </div>

                <div class="form-group row">
                    <div>
                    <button style='margin:16px' type="button" class="btn btn-success" (click)="updateIssue()">Update
                        Issue</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
